<div id="side_contents">
  <div>
    <div style="float:right;color:#888;margin-right:10px;">
      <%
        url = ""
        url << config.relative_url_root if config.relative_url_root
        url << "/side_contents_edit?project_id=#{@project.id}"
      %>
      <%= link_to(l(:side_contents_label_edit), url, :remote => true, :method => 'get') %>
    </div>
    <h3>SideContents</h3>
    <div>
      <%= textilizable(@common_text,  object: @project) %>
      <%= textilizable(@project_text, object: @project) %>
    </div>
  </div>
</div>
